In [1]:
spark

Starting Spark application

SparkSession available as 'spark'.
<pyspark.sql.session.SparkSession object at 0x7fceb8748c10>

#### Lendo tabela de Metadados

In [2]:
metadados = spark.read.format(
   "com.databricks.spark.csv").option(
   "header", "true").option(
   "inferSchema", "true").option(
   "delimiter", ',').load(
   's3://turing-bkt-treinamentos-etl/CreditoImobiliario/HomeCredit_columns_description.csv')
metadados.count()

219

In [9]:
metadados.registerTempTable("metadados")

In [4]:
spark.sql("""
              select 
                  Row,
                  Description                  
              from 
                  metadados
              where 
                  Table in ('bureau.csv')


""").show(50,False)

+----------------------+-------------------------------------------------------------------------------------------------------------------+
|Row                   |Description                                                                                                        |
+----------------------+-------------------------------------------------------------------------------------------------------------------+
|SK_ID_CURR            |ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau |
|SK_BUREAU_ID          |Recoded ID of previous Credit Bureau credit related to our loan (unique coding for each loan application)          |
|CREDIT_ACTIVE         |Status of the Credit Bureau (CB) reported credits                                                                  |
|CREDIT_CURRENCY       |Recoded currency of the Credit Bureau credit                                                                       |
|DAYS_CREDIT           |How many days before current application did client apply for Credit Bureau credit                                 |
|CREDIT_DAY_OVERDUE    |Number of days past due on CB credit at the time of application for related loan in our sample                     |
|DAYS_CREDIT_ENDDATE   |Remaining duration of CB credit (in days) at the time of application in Home Credit                                |
|DAYS_ENDDATE_FACT     |Days since CB credit ended at the time of application in Home Credit (only for closed credit)                      |
|AMT_CREDIT_MAX_OVERDUE|Maximal amount overdue on the Credit Bureau credit so far (at application date of loan in our sample)              |
|CNT_CREDIT_PROLONG    |How many times was the Credit Bureau credit prolonged                                                              |
|AMT_CREDIT_SUM        |Current credit amount for the Credit Bureau credit                                                                 |
|AMT_CREDIT_SUM_DEBT   |Current debt on Credit Bureau credit                                                                               |
|AMT_CREDIT_SUM_LIMIT  |Current credit limit of credit card reported in Credit Bureau                                                      |
|AMT_CREDIT_SUM_OVERDUE|Current amount overdue on Credit Bureau credit                                                                     |
|CREDIT_TYPE           |Type of Credit Bureau credit (Car, cash,...)                                                                       |
|DAYS_CREDIT_UPDATE    |How many days before loan application did last information about the Credit Bureau credit come                     |
|AMT_ANNUITY           |Annuity of the Credit Bureau credit                                                                                |
+----------------------+-------------------------------------------------------------------------------------------------------------------+

#### Lendo tabela bureau.csv

In [10]:
bureau = spark.read.format(
   "com.databricks.spark.csv").option(
   "header", "true").option(
   "inferSchema", "true").option(
   "delimiter", ',').load(
   's3://turing-bkt-treinamentos-etl/CreditoImobiliario/bureau.csv')

bureau.registerTempTable("bureau")
bureau.count()

1716428

In [11]:
bureau.printSchema()

root
 |-- SK_ID_CURR: integer (nullable = true)
 |-- SK_ID_BUREAU: integer (nullable = true)
 |-- CREDIT_ACTIVE: string (nullable = true)
 |-- CREDIT_CURRENCY: string (nullable = true)
 |-- DAYS_CREDIT: integer (nullable = true)
 |-- CREDIT_DAY_OVERDUE: integer (nullable = true)
 |-- DAYS_CREDIT_ENDDATE: double (nullable = true)
 |-- DAYS_ENDDATE_FACT: double (nullable = true)
 |-- AMT_CREDIT_MAX_OVERDUE: double (nullable = true)
 |-- CNT_CREDIT_PROLONG: integer (nullable = true)
 |-- AMT_CREDIT_SUM: double (nullable = true)
 |-- AMT_CREDIT_SUM_DEBT: double (nullable = true)
 |-- AMT_CREDIT_SUM_LIMIT: double (nullable = true)
 |-- AMT_CREDIT_SUM_OVERDUE: double (nullable = true)
 |-- CREDIT_TYPE: string (nullable = true)
 |-- DAYS_CREDIT_UPDATE: integer (nullable = true)
 |-- AMT_ANNUITY: double (nullable = true)

#### Explorando conceitos de negocio

In [9]:
spark.sql("""
             select
                 CREDIT_ACTIVE,
                 count(*) as Qt
             from 
                 bureau
             group by
                 1


""").show()

+-------------+-------+
|CREDIT_ACTIVE|     Qt|
+-------------+-------+
|     Bad debt|     21|
|         Sold|   6527|
|       Active| 630607|
|       Closed|1079273|
+-------------+-------+

In [11]:
spark.sql("""
             select
                 CREDIT_TYPE,
                 count(*) as Qt
             from 
                 bureau
             group by
                 1


""").show(50,False)

+--------------------------------------------+-------+
|CREDIT_TYPE                                 |Qt     |
+--------------------------------------------+-------+
|Loan for the purchase of equipment          |19     |
|Cash loan (non-earmarked)                   |56     |
|Microloan                                   |12413  |
|Consumer credit                             |1251615|
|Mobile operator loan                        |1      |
|Another type of loan                        |1017   |
|Mortgage                                    |18391  |
|Interbank credit                            |1      |
|Loan for working capital replenishment      |469    |
|Car loan                                    |27690  |
|Real estate loan                            |27     |
|Unknown type of loan                        |555    |
|Loan for business development               |1975   |
|Credit card                                 |402195 |
|Loan for purchase of shares (margin lending)|4      |
+--------------------------------------------+-------+

In [12]:
spark.sql("""
             select
                 CREDIT_CURRENCY,
                 count(*) as Qt
             from 
                 bureau
             group by
                 1


""").show(50,False)

+---------------+-------+
|CREDIT_CURRENCY|Qt     |
+---------------+-------+
|currency 2     |1224   |
|currency 1     |1715020|
|currency 4     |10     |
|currency 3     |174    |
+---------------+-------+

#### Criando variaveis de primeira camada com conceito de credito

In [12]:
bureau_etl_01 = spark.sql(
    """
         select
             SK_ID_CURR as PK_JOIN,
             sum(case when CREDIT_ACTIVE in ('Active') then 1 else 0 end) as QT_CRED_Active,
             sum(case when CREDIT_ACTIVE in ('Sold') then 1 else 0 end) as QT_CRED_Sold,
             sum(case when CREDIT_ACTIVE in ('Closed') then 1 else 0 end) as QT_CRED_Closed,
             sum(case when CREDIT_ACTIVE in ('Bad debt') then 1 else 0 end) as QT_CRED_Bad_debt,
             sum(case when CREDIT_TYPE in ('Microloan') then 1 else 0 end) as QT_CRED_Microloan,
             sum(case when CREDIT_TYPE in ('Credit card') then 1 else 0 end) as QT_CRED_CreditCard,
             sum(case when CREDIT_TYPE in ('Consumer credit') then 1 else 0 end) as QT_CRED_ConsumerCredit,
             sum(case when CREDIT_TYPE in ('Car loan') then 1 else 0 end) as QT_CRED_CarLoan,
             sum(case when CREDIT_TYPE in ('Mortgage') then 1 else 0 end) as QT_CRED_Mortgage,
             sum(case when CREDIT_CURRENCY in ('currency 2') then 1 else 0 end) as QT_CRED_currency2,
             sum(case when CREDIT_CURRENCY in ('currency 1') then 1 else 0 end) as QT_CRED_currency1,
             
             avg(case when CREDIT_ACTIVE in ('Active') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_ACTIVE,
             avg(case when CREDIT_ACTIVE in ('Sold') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_Sold,
             avg(case when CREDIT_ACTIVE in ('Closed') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_Closed,
             avg(case when CREDIT_ACTIVE in ('Bad debt') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_BadDebt,
             
             avg(case when CREDIT_TYPE in ('Microloan') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_Microloan,
             avg(case when CREDIT_TYPE in ('Credit card') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_Creditcard,
             avg(case when CREDIT_TYPE in ('Consumer credit') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_Consumercredit,
             avg(case when CREDIT_TYPE in ('Car loan') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_Carloan,
             avg(case when CREDIT_TYPE in ('Mortgage') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_Mortgage,
             
             avg(case when CREDIT_CURRENCY in ('currency 1') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_currency1,
             avg(case when CREDIT_CURRENCY in ('currency 2') then AMT_CREDIT_SUM else 0 end) as AVG_AMT_CREDIT_currency2,
             
             min(AMT_CREDIT_SUM) as MIN_AMT_CREDIT_SUM,
             max(AMT_CREDIT_SUM) as MAX_AMT_CREDIT_SUM,
             avg(AMT_CREDIT_SUM) as AVG_AMT_CREDIT_SUM,
             
             min(DAYS_CREDIT) as MIN_DAYS_CREDIT,
             max(DAYS_CREDIT) as MAX_DAYS_CREDIT,
             avg(DAYS_CREDIT) as AVG_DAYS_CREDIT,             
             
             min(AMT_CREDIT_SUM_DEBT) as MIN_AMT_CREDIT_SUM_DEBT,
             max(AMT_CREDIT_SUM_DEBT) as MAX_AMT_CREDIT_SUM_DEBT,
             avg(AMT_CREDIT_SUM_DEBT) as AVG_AMT_CREDIT_SUM_DEBT,  
             
             min(AMT_CREDIT_SUM_OVERDUE) as MIN_AMT_CREDIT_SUM_OVERDUE,
             max(AMT_CREDIT_SUM_OVERDUE) as MAX_AMT_CREDIT_SUM_OVERDUE,
             avg(AMT_CREDIT_SUM_OVERDUE) as AVG_AMT_CREDIT_SUM_OVERDUE,             

             min(DAYS_CREDIT_UPDATE) as MIN_DAYS_CREDIT_UPDATE,
             max(DAYS_CREDIT_UPDATE) as MAX_DAYS_CREDIT_UPDATE,
             avg(DAYS_CREDIT_UPDATE) as AVG_DAYS_CREDIT_UPDATE,
                                 
             min(CNT_CREDIT_PROLONG) as MIN_CNT_CREDIT_PROLONG,
             max(CNT_CREDIT_PROLONG) as MAX_CNT_CREDIT_PROLONG,
             avg(CNT_CREDIT_PROLONG) as AVG_CNT_CREDIT_PROLONG,
             
             min(AMT_ANNUITY) as MIN_AMT_ANNUITY,
             max(AMT_ANNUITY) as MAX_AMT_ANNUITY,
             avg(AMT_ANNUITY) as AVG_AMT_ANNUITY
             
         from
             bureau             
         group by         
             SK_ID_CURR
""")

bureau_etl_01.registerTempTable("bureau_etl_01")
bureau_etl_01.count()

305811

In [47]:
bureau_etl_01.printSchema()

root
 |-- PK_JOIN: integer (nullable = true)
 |-- QT_CRED_Active: long (nullable = true)
 |-- QT_CRED_Sold: long (nullable = true)
 |-- QT_CRED_Closed: long (nullable = true)
 |-- QT_CRED_Bad_debt: long (nullable = true)
 |-- QT_CRED_Microloan: long (nullable = true)
 |-- QT_CRED_CreditCard: long (nullable = true)
 |-- QT_CRED_ConsumerCredit: long (nullable = true)
 |-- QT_CRED_CarLoan: long (nullable = true)
 |-- QT_CRED_Mortgage: long (nullable = true)
 |-- QT_CRED_currency2: long (nullable = true)
 |-- QT_CRED_currency1: long (nullable = true)
 |-- AVG_AMT_CREDIT_ACTIVE: double (nullable = true)
 |-- AVG_AMT_CREDIT_Sold: double (nullable = true)
 |-- AVG_AMT_CREDIT_Closed: double (nullable = true)
 |-- AVG_AMT_CREDIT_BadDebt: double (nullable = true)
 |-- AVG_AMT_CREDIT_Microloan: double (nullable = true)
 |-- AVG_AMT_CREDIT_Creditcard: double (nullable = true)
 |-- AVG_AMT_CREDIT_Consumercredit: double (nullable = true)
 |-- AVG_AMT_CREDIT_Carloan: double (nullable = true)
 |-- AVG_AMT_CREDIT_Mortgage: double (nullable = true)
 |-- AVG_AMT_CREDIT_currency1: double (nullable = true)
 |-- AVG_AMT_CREDIT_currency2: double (nullable = true)
 |-- MIN_AMT_CREDIT_SUM: double (nullable = true)
 |-- MAX_AMT_CREDIT_SUM: double (nullable = true)
 |-- AVG_AMT_CREDIT_SUM: double (nullable = true)
 |-- MIN_DAYS_CREDIT: integer (nullable = true)
 |-- MAX_DAYS_CREDIT: integer (nullable = true)
 |-- AVG_DAYS_CREDIT: double (nullable = true)
 |-- MIN_AMT_CREDIT_SUM_DEBT: double (nullable = true)
 |-- MAX_AMT_CREDIT_SUM_DEBT: double (nullable = true)
 |-- AVG_AMT_CREDIT_SUM_DEBT: double (nullable = true)
 |-- MIN_AMT_CREDIT_SUM_OVERDUE: double (nullable = true)
 |-- MAX_AMT_CREDIT_SUM_OVERDUE: double (nullable = true)
 |-- AVG_AMT_CREDIT_SUM_OVERDUE: double (nullable = true)
 |-- MIN_DAYS_CREDIT_UPDATE: integer (nullable = true)
 |-- MAX_DAYS_CREDIT_UPDATE: integer (nullable = true)
 |-- AVG_DAYS_CREDIT_UPDATE: double (nullable = true)
 |-- MIN_CNT_CREDIT_PROLONG: integer (nullable = true)
 |-- MAX_CNT_CREDIT_PROLONG: integer (nullable = true)
 |-- AVG_CNT_CREDIT_PROLONG: double (nullable = true)
 |-- MIN_AMT_ANNUITY: double (nullable = true)
 |-- MAX_AMT_ANNUITY: double (nullable = true)
 |-- AVG_AMT_ANNUITY: double (nullable = true)

#### Tratamento da tabela de publico

In [8]:
application_train = spark.read.format(
   "com.databricks.spark.csv").option(
   "header", "true").option(
   "inferSchema", "true").option(
   "delimiter", ',').load(
   's3://turing-bkt-treinamentos-etl/CreditoImobiliario/application_train.csv')

application_train.registerTempTable("application_train")
application_train.count()

307511

In [13]:
application_train.printSchema()

root
 |-- SK_ID_CURR: integer (nullable = true)
 |-- TARGET: integer (nullable = true)
 |-- NAME_CONTRACT_TYPE: string (nullable = true)
 |-- CODE_GENDER: string (nullable = true)
 |-- FLAG_OWN_CAR: string (nullable = true)
 |-- FLAG_OWN_REALTY: string (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- AMT_CREDIT: double (nullable = true)
 |-- AMT_ANNUITY: double (nullable = true)
 |-- AMT_GOODS_PRICE: double (nullable = true)
 |-- NAME_TYPE_SUITE: string (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- REGION_POPULATION_RELATIVE: double (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- DAYS_REGISTRATION: double (nullable = true)
 |-- DAYS_ID_PUBLISH: integer (nullable = true)
 |-- OWN_CAR_AGE: double (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_EMP_PHONE: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_CONT_MOBILE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)
 |-- REGION_RATING_CLIENT: integer (nullable = true)
 |-- REGION_RATING_CLIENT_W_CITY: integer (nullable = true)
 |-- WEEKDAY_APPR_PROCESS_START: string (nullable = true)
 |-- HOUR_APPR_PROCESS_START: integer (nullable = true)
 |-- REG_REGION_NOT_LIVE_REGION: integer (nullable = true)
 |-- REG_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- LIVE_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- REG_CITY_NOT_LIVE_CITY: integer (nullable = true)
 |-- REG_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- LIVE_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- ORGANIZATION_TYPE: string (nullable = true)
 |-- EXT_SOURCE_1: double (nullable = true)
 |-- EXT_SOURCE_2: double (nullable = true)
 |-- EXT_SOURCE_3: double (nullable = true)
 |-- APARTMENTS_AVG: double (nullable = true)
 |-- BASEMENTAREA_AVG: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_AVG: double (nullable = true)
 |-- YEARS_BUILD_AVG: double (nullable = true)
 |-- COMMONAREA_AVG: double (nullable = true)
 |-- ELEVATORS_AVG: double (nullable = true)
 |-- ENTRANCES_AVG: double (nullable = true)
 |-- FLOORSMAX_AVG: double (nullable = true)
 |-- FLOORSMIN_AVG: double (nullable = true)
 |-- LANDAREA_AVG: double (nullable = true)
 |-- LIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- LIVINGAREA_AVG: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- NONLIVINGAREA_AVG: double (nullable = true)
 |-- APARTMENTS_MODE: double (nullable = true)
 |-- BASEMENTAREA_MODE: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MODE: double (nullable = true)
 |-- YEARS_BUILD_MODE: double (nullable = true)
 |-- COMMONAREA_MODE: double (nullable = true)
 |-- ELEVATORS_MODE: double (nullable = true)
 |-- ENTRANCES_MODE: double (nullable = true)
 |-- FLOORSMAX_MODE: double (nullable = true)
 |-- FLOORSMIN_MODE: double (nullable = true)
 |-- LANDAREA_MODE: double (nullable = true)
 |-- LIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- LIVINGAREA_MODE: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- NONLIVINGAREA_MODE: double (nullable = true)
 |-- APARTMENTS_MEDI: double (nullable = true)
 |-- BASEMENTAREA_MEDI: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MEDI: double (nullable = true)
 |-- YEARS_BUILD_MEDI: double (nullable = true)
 |-- COMMONAREA_MEDI: double (nullable = true)
 |-- ELEVATORS_MEDI: double (nullable = true)
 |-- ENTRANCES_MEDI: double (nullable = true)
 |-- FLOORSMAX_MEDI: double (nullable = true)
 |-- FLOORSMIN_MEDI: double (nullable = true)
 |-- LANDAREA_MEDI: double (nullable = true)
 |-- LIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- LIVINGAREA_MEDI: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- NONLIVINGAREA_MEDI: double (nullable = true)
 |-- FONDKAPREMONT_MODE: string (nullable = true)
 |-- HOUSETYPE_MODE: string (nullable = true)
 |-- TOTALAREA_MODE: double (nullable = true)
 |-- WALLSMATERIAL_MODE: string (nullable = true)
 |-- EMERGENCYSTATE_MODE: string (nullable = true)
 |-- OBS_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- OBS_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DAYS_LAST_PHONE_CHANGE: double (nullable = true)
 |-- FLAG_DOCUMENT_2: integer (nullable = true)
 |-- FLAG_DOCUMENT_3: integer (nullable = true)
 |-- FLAG_DOCUMENT_4: integer (nullable = true)
 |-- FLAG_DOCUMENT_5: integer (nullable = true)
 |-- FLAG_DOCUMENT_6: integer (nullable = true)
 |-- FLAG_DOCUMENT_7: integer (nullable = true)
 |-- FLAG_DOCUMENT_8: integer (nullable = true)
 |-- FLAG_DOCUMENT_9: integer (nullable = true)
 |-- FLAG_DOCUMENT_10: integer (nullable = true)
 |-- FLAG_DOCUMENT_11: integer (nullable = true)
 |-- FLAG_DOCUMENT_12: integer (nullable = true)
 |-- FLAG_DOCUMENT_13: integer (nullable = true)
 |-- FLAG_DOCUMENT_14: integer (nullable = true)
 |-- FLAG_DOCUMENT_15: integer (nullable = true)
 |-- FLAG_DOCUMENT_16: integer (nullable = true)
 |-- FLAG_DOCUMENT_17: integer (nullable = true)
 |-- FLAG_DOCUMENT_18: integer (nullable = true)
 |-- FLAG_DOCUMENT_19: integer (nullable = true)
 |-- FLAG_DOCUMENT_20: integer (nullable = true)
 |-- FLAG_DOCUMENT_21: integer (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_HOUR: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_DAY: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_WEEK: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_MON: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_QRT: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_YEAR: double (nullable = true)

#### Estrategia 01 - trazer todas as varaveis numericas da tabela de publico

In [14]:
columnList_int = [item[0] for item in application_train.dtypes if item[1].startswith('int')]
columnList_double = [item[0] for item in application_train.dtypes if item[1].startswith('double')]
columnList_string = [item[0] for item in application_train.dtypes if item[1].startswith('string')]

In [15]:
columnList_int

['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

In [16]:
columnList_double

['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'OWN_CAR_AGE', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [17]:
columnList_string

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [18]:
columns_to_drop = columnList_string
application_train_01 = application_train.drop(*columns_to_drop)

In [19]:
application_train_01.printSchema()

root
 |-- SK_ID_CURR: integer (nullable = true)
 |-- TARGET: integer (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- AMT_CREDIT: double (nullable = true)
 |-- AMT_ANNUITY: double (nullable = true)
 |-- AMT_GOODS_PRICE: double (nullable = true)
 |-- REGION_POPULATION_RELATIVE: double (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- DAYS_REGISTRATION: double (nullable = true)
 |-- DAYS_ID_PUBLISH: integer (nullable = true)
 |-- OWN_CAR_AGE: double (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_EMP_PHONE: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_CONT_MOBILE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)
 |-- REGION_RATING_CLIENT: integer (nullable = true)
 |-- REGION_RATING_CLIENT_W_CITY: integer (nullable = true)
 |-- HOUR_APPR_PROCESS_START: integer (nullable = true)
 |-- REG_REGION_NOT_LIVE_REGION: integer (nullable = true)
 |-- REG_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- LIVE_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- REG_CITY_NOT_LIVE_CITY: integer (nullable = true)
 |-- REG_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- LIVE_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- EXT_SOURCE_1: double (nullable = true)
 |-- EXT_SOURCE_2: double (nullable = true)
 |-- EXT_SOURCE_3: double (nullable = true)
 |-- APARTMENTS_AVG: double (nullable = true)
 |-- BASEMENTAREA_AVG: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_AVG: double (nullable = true)
 |-- YEARS_BUILD_AVG: double (nullable = true)
 |-- COMMONAREA_AVG: double (nullable = true)
 |-- ELEVATORS_AVG: double (nullable = true)
 |-- ENTRANCES_AVG: double (nullable = true)
 |-- FLOORSMAX_AVG: double (nullable = true)
 |-- FLOORSMIN_AVG: double (nullable = true)
 |-- LANDAREA_AVG: double (nullable = true)
 |-- LIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- LIVINGAREA_AVG: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- NONLIVINGAREA_AVG: double (nullable = true)
 |-- APARTMENTS_MODE: double (nullable = true)
 |-- BASEMENTAREA_MODE: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MODE: double (nullable = true)
 |-- YEARS_BUILD_MODE: double (nullable = true)
 |-- COMMONAREA_MODE: double (nullable = true)
 |-- ELEVATORS_MODE: double (nullable = true)
 |-- ENTRANCES_MODE: double (nullable = true)
 |-- FLOORSMAX_MODE: double (nullable = true)
 |-- FLOORSMIN_MODE: double (nullable = true)
 |-- LANDAREA_MODE: double (nullable = true)
 |-- LIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- LIVINGAREA_MODE: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- NONLIVINGAREA_MODE: double (nullable = true)
 |-- APARTMENTS_MEDI: double (nullable = true)
 |-- BASEMENTAREA_MEDI: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MEDI: double (nullable = true)
 |-- YEARS_BUILD_MEDI: double (nullable = true)
 |-- COMMONAREA_MEDI: double (nullable = true)
 |-- ELEVATORS_MEDI: double (nullable = true)
 |-- ENTRANCES_MEDI: double (nullable = true)
 |-- FLOORSMAX_MEDI: double (nullable = true)
 |-- FLOORSMIN_MEDI: double (nullable = true)
 |-- LANDAREA_MEDI: double (nullable = true)
 |-- LIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- LIVINGAREA_MEDI: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- NONLIVINGAREA_MEDI: double (nullable = true)
 |-- TOTALAREA_MODE: double (nullable = true)
 |-- OBS_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- OBS_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DAYS_LAST_PHONE_CHANGE: double (nullable = true)
 |-- FLAG_DOCUMENT_2: integer (nullable = true)
 |-- FLAG_DOCUMENT_3: integer (nullable = true)
 |-- FLAG_DOCUMENT_4: integer (nullable = true)
 |-- FLAG_DOCUMENT_5: integer (nullable = true)
 |-- FLAG_DOCUMENT_6: integer (nullable = true)
 |-- FLAG_DOCUMENT_7: integer (nullable = true)
 |-- FLAG_DOCUMENT_8: integer (nullable = true)
 |-- FLAG_DOCUMENT_9: integer (nullable = true)
 |-- FLAG_DOCUMENT_10: integer (nullable = true)
 |-- FLAG_DOCUMENT_11: integer (nullable = true)
 |-- FLAG_DOCUMENT_12: integer (nullable = true)
 |-- FLAG_DOCUMENT_13: integer (nullable = true)
 |-- FLAG_DOCUMENT_14: integer (nullable = true)
 |-- FLAG_DOCUMENT_15: integer (nullable = true)
 |-- FLAG_DOCUMENT_16: integer (nullable = true)
 |-- FLAG_DOCUMENT_17: integer (nullable = true)
 |-- FLAG_DOCUMENT_18: integer (nullable = true)
 |-- FLAG_DOCUMENT_19: integer (nullable = true)
 |-- FLAG_DOCUMENT_20: integer (nullable = true)
 |-- FLAG_DOCUMENT_21: integer (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_HOUR: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_DAY: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_WEEK: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_MON: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_QRT: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_YEAR: double (nullable = true)

In [20]:
application_train_01.registerTempTable("application_train_01")

#### Gerando tabela de modelagem final

In [21]:
ETL_FINAL_v01 = spark.sql("""

select 
        a.*,
        b.*
    from 
        application_train_01 as a
    left join
        bureau_etl_01 as b
    on 
        a.SK_ID_CURR = b.PK_JOIN
""")

In [22]:
ETL_FINAL_v01.count()

307511

#### Salvando ABT para etapa de modelagem

In [23]:
nm_path_s3 = 's3://turing-bkt-treinamentos-etl/Alunos/ABT_v01_BrunoJ/'
ETL_FINAL_v01.write.parquet(nm_path_s3, mode='overwrite')